# Raspberry Pi Zugangsdaten
RASPI_HOST=<PI_HOST>
RASPI_USERNAME=admin
RASPI_PASSWORD=your_password_here
RASPI_HOSTNAME=growpi

# SSH Konfiguration
RASPI_SSH_PORT=22

# API Konfiguration
API_PORT=3001
FRONTEND_PORT=3000
